.barra_navegaçao{
    height:8vh;
    width: 100%;
    margin-top:-2vh;
    background-color:orange;
}
.barra_navegaçao ul li {
 color: rgb(243, 243, 243);
 font-family: Arial;
 float: left;
 list-style: none;
 margin-left: 5vh;
 


}
.barra_navegaçao ul li a{
    transition: all 2s;
    color: ghostwhite;
    text-decoration: none;
    margin-left: 5vh;
}

.barra_navegaçao ul{
    position: absolute;
    margin-left: 20vh;
}


.barra_navegaçao ul li a:hover{
font-size: 3vh;
color: indigo;
font-style: italic;
transition:all 2s;

}


.localNav{

    background-color: grey;
    color: black;
    margin-top: 8vh;
    position: absolute;
    font-family: Arial;
    width: 99.1%;
    height: 4vh;

}
.localNav h4{

    position: absolute;
    margin-left: 15vh;
    margin-top: 1vh;
}
.logo{
    color: chocolate;
    margin-top: 2vh;
    margin-left: 2vh;
    height: 6vh;
    width: vh;
    position: absolute;
    font-family: Arial;
    font-size: 4vh;
}
.banner{
 height: 40vh;
 width: 100%;
 background-color:rgb(10, 198, 223);
 margin-top: 5vh;
 color: white;
 font-family: Arial;

}
.banner article{
margin-left: 6vh;
margin-top: 10vh;
position: absolute;


}
.banner h1{
    font-size: 3vh;

}
.banner button{

color:white;
font-size: 3vh;

}
#btBannerAnterior{
 background-color: tomato;
 height: 6vh;
 width: 6vh;
 padding:2vh ;
 margin-top: 34vh;
 position: absolute;
}
#btBannerProximo{
    background-color: tomato;
    height: 6vh;
    width: 6vh;
    padding:2vh ;
    margin-top: 34vh;
    position: absolute;
    margin-left: 185vh;
}
.CardsElementos{
    background-color:#ccc;
    margin-left:10vh;
    margin-top: 2vh;
    height:40vh;
    width:90%;
    display: flex;
    flex-direction: row;
}
.card{
    height:30vh;
    width: 20vh;
    background-color: rgb(155, 155, 155);
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    
}
.card h1{
    font-size: 3vh;
    color: rgb(22, 163, 199);
    font-family: Arial;

}
.card h3{
 color:rgb(223, 147, 7);

}
.cardProduto{
    transition: all 1s;
    height:30vh;
    width: 20vh;
    background-color: rgb(214, 13, 13);
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    
}
.card03{
    height:30vh;
    width: 20vh;
    background-color: rgb(8, 52, 173);
    padding: 2vh;
    margin-top: 2vh;
    margin-left: 2vh;
    font-family: Arial;

}
.cardProduto:hover{
  transition: all 2s;
  transform: scale(1.2);
  background-color: rgb(6, 144, 179)

}
.card:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: palegreen;
  
  }
.card03:hover{
    transition: all 2s;
    transform: scale(1.2);
    background-color: rgb(6, 144, 179);
  
  }
  .sb{
      box-shadow: 0.4vh 0.5vh  rgb(155, 155, 155);
  }


